<div ng-hide="loading">

    <button><a href="#!/"> Retourner au menu </a></button>

    <br>

    <button><a href="#!/read"> Retourner à liste des clients </a></button>

    <h1>Le client en cours est {{name}} </h1>

    <p> <strong> Identifiant : {{id}}</strong></p>

    <p> <strong> N° SIRET : {{siret}} </strong></p>

    Identifiant : <input type="number" disabled="disabled" ng-model="id"> Nom : <input type="text" ng-model="name"> Siret : <input type="text" ng-model="siret">

    <button ng-click="modifier(name, siret)"> Modifier le client </button>

</div>