<div ng-hide="loading">
    <h1> Liste des clients </h1>

    Rechercher un client par son identifiant : <input type="text" ng-model="id">

    <br>
    <br>

    <button><a href="#!/add">Ajouter un nouveau client</a></button>

    <br>
    <br>
    <hr>

    <div class="fiche-client" ng-repeat="client in clients |  filter:{id: id}">
        <h3>Nom : {{client.name}} #{{client.id}}</h3>
        <p>N° SIRET : {{client.siret}}</p>
        <button><a href="#!/edit/{{client.id}}"> Modifier le client </a> </button>
        <br>
        <br>
        <button ng-click="supprimer(client.id, client.name)"> Supprimer le client </button>

        <hr>
    </div>
</div>